option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cloudmachinelearning.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: cloudmachinelearning.settings
    PYTHONPATH: "/var/app/current"

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_db_permissions:
    command: "chown webapp:webapp db.sqlite3 && chmod 664 db.sqlite3"
  03_folder_permissions:
    command: "chown webapp:webapp . && chmod 775 ."